Repository bastos-rcd/TheGym, pull requests merged in 2025-03, with the labels that each got.

#42 Gestion des sportifs via EasyAdmin
  backend/src/Controller/Admin/DashboardController.php
  backend/src/Controller/Admin/SportifCrudController.php
Labels: back-office

#44 Inscription en tant que Sportif
  backend/src/Controller/Api/SportifController.php
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/models/sportif.ts
  frontend/src/app/models/user.ts
  frontend/src/app/register/register.component.css
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.ts
  frontend/src/app/services/sportif.service.ts
Labels: UI/UX, front-office

#45 CRUD Coach API
  backend/src/Controller/Api/CoachController.php
  backend/src/Controller/Api/SportifController.php
  backend/src/Entity/Coach.php
  backend/src/Entity/FicheDePaie.php
  backend/src/Entity/Seance.php
  backend/src/Entity/Sportif.php
  backend/src/Entity/Utilisateur.php
Labels: API

#46 CRUD Exercice API
  backend/src/Controller/Api/ExerciceController.php
  backend/src/Entity/Exercice.php
  backend/src/Entity/Seance.php
Labels: API

#47 CRUD Seance API
  backend/src/Controller/Api/CoachController.php
  backend/src/Controller/Api/ExerciceController.php
  backend/src/Controller/Api/SeanceController.php
  backend/src/Controller/Api/SportifController.php
  backend/src/Entity/Exercice.php
  backend/src/Entity/Seance.php
  backend/src/Entity/Utilisateur.php
Labels: API

#48 Fix CORS allow
  .gitignore
  README.md
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/sportif.service.ts
Labels: base de données

#49 CRUD Exercise EasyAdmin
  backend/src/Controller/Admin/CoachCrudController.php
  backend/src/Controller/Admin/DashboardController.php
  backend/src/Controller/Admin/ExerciceCrudController.php
  backend/src/Entity/Exercice.php
Labels: back-office

#50 CRU Seance EasyAdmin
  backend/src/Controller/Admin/DashboardController.php
  backend/src/Controller/Admin/SeanceCrudController.php
  backend/src/Entity/Coach.php
  backend/src/Entity/Exercice.php
  backend/src/Entity/Seance.php
  backend/src/Entity/Sportif.php
Labels: back-office

#51 Planification et validation séances
  backend/migrations/Version20250214132414.php
  backend/migrations/Version20250306145259.php
  backend/src/Controller/Admin/SeanceCrudController.php
  backend/src/Entity/Seance.php
Labels: back-office

#52 Génération et visualisation Fiche de paie
  backend/migrations/Version20250307030909.php
  backend/src/Controller/Admin/DashboardController.php
  backend/src/Controller/Admin/FicheDePaieCrudController.php
  backend/src/Repository/SeanceRepository.php
  backend/templates/admin/fiche_de_paie/delete_confirm.html.twig
  backend/templates/admin/fiche_de_paie/edit_form.html.twig
  backend/templates/admin/fiche_de_paie/generate_form.html.twig
  backend/templates/admin/fiche_de_paie/index.html.twig
  backend/templates/admin/fiche_de_paie/view.html.twig
  backend/templates/base.html.twig
Labels: back-office

#53 Tableau de statistiques
  backend/src/Controller/Admin/DashboardController.php
  backend/src/Controller/Admin/StatisticsController.php
  backend/src/DataFixtures/TheGymExtendedFixtures.php
  backend/templates/admin/statistics.html.twig
Labels: back-office

#57 Update API REST
  README.md
  backend/config/jwt/private.pem
  backend/config/jwt/public.pem
  backend/config/packages/api_platform.yaml
  backend/config/packages/cache.yaml
  backend/config/packages/csrf.yaml
  backend/config/packages/doctrine.yaml
  backend/config/packages/doctrine_migrations.yaml
  backend/config/packages/easy_admin.yaml
  backend/config/packages/framework.yaml
  backend/config/packages/routing.yaml
  backend/config/packages/security.yaml
  backend/config/packages/twig_component.yaml
  backend/config/packages/validator.yaml
  backend/config/routes/api_platform.yaml
  backend/config/services.yaml
  backend/migrations/Version20250306145259.php
  backend/migrations/Version20250307030909.php
  backend/migrations/Version20250311095159.php
  backend/public/bundles/easyadmin/custom-styles.css
  backend/src/Controller/Api/CoachApiController.php
  backend/src/Controller/Api/CoachController.php
  backend/src/Controller/Api/ExerciceApiController.php
  backend/src/Controller/Api/ExerciceController.php
  backend/src/Controller/Api/SeanceApiController.php
  backend/src/Controller/Api/SeanceController.php
  backend/src/Controller/Api/SportifApiController.php
  backend/src/Controller/Api/SportifController.php
  backend/src/Controller/SecurityController.php
  backend/src/Entity/Coach.php
  backend/src/Entity/Exercice.php
  backend/src/Entity/FicheDePaie.php
  backend/src/Entity/Seance.php
  backend/src/Entity/Sportif.php
  backend/src/Entity/Utilisateur.php
Labels: API
